
test_machine/__pycache__/
main_window/__pycache__/
brain_machine/__pycache__/
base_tab/__pycache__/
adaption_machine/__pycache__/
__pycache__/constants.cpython-312.pyc
data_base/__pycache__/window_db_change.cpython-312.pyc

data_base/__pycache__/class_db.cpython-312.pyc
